################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RisingJoker/obj/Release
/RisingJoker/.vs/RisingJoker/FileContentIndex
/RisingJokerServer/obj/Release
/.vs
