################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/RisingJoker/obj
**/RisingJoker/.vs/RisingJoker/FileContentIndex
**/RisingJokerServer/obj
**/.vs
